<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <title>個人履歷</title>
        <link rel="canonical" href="/index.html">
        <meta name="description" content="李宣葇的個人履歷AI小助理">
        <meta name="author" content="李宣葇">
        <meta name="theme-color" content="#f5c101">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <script src="/static/script.js" defer></script>
    </head>
    <body>
        <div id="AI_helper">
            <h2>哈囉！我是宣葇的AI小助理～</h2>
            <h3>請輸入您想問宣葇的問題，我將為您解答！</h3>
            <input type="text" id="userInput" placeholder="問題">
            <button onclick="sendToServer()">送出</button>
        </div>
    </body>
</html>