<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <title>個人履歷</title>
        <link rel="canonical" href="/index.html">
        <meta name="description" content="李宣葇的個人履歷">
        <meta name="author" content="李宣葇">
        <meta name="theme-color" content="#f5c101">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <script src="script.js" defer></script>
    </head>
    <body>
        <div id="ch_name"><h1>{{ data.user_info[0].ch_name }}</h1></div>
        <div id="en_name"><h1>{{ data.user_info[0].en_name }}</h1></div>
        <div id="info_wrapper">
            <div id="contact">
                <h3>Contact</h3>
                <ul>
                    <li><i class="fas fa-phone"></i> <a href="tel:{{ data.user_info[0].phone }}">{{ data.user_info[0].phone }}</a></li>
                    <li><i class="fas fa-envelope"></i> <a href="mailto:{{ data.user_info[0].email }}">{{ data.user_info[0].email }}</a></li>
                    <li><i class="fa-solid fa-house"></i>{{ data.user_info[0].address }}</li>
                    <li><i class="fab fa-github"></i> <a href="{{ data.user_info[0].github }}">{{ data.user_info[0].github }}</a></li>
                </ul>
            </div>
            <div id="education">
                <h3>Education</h3>
                <ul>
                    <li>{{ data.education[0].school }}</li>
                    <li>{{ data.education[0].start_date.strftime('%Y') }}-{{ data.education[0].end_date.strftime('%Y') }}</li>
                    <li>相關課程:{{ data.education[0].class }}</li>
                </ul>
                <ul>
                    <li>{{ data.education[1].school }}</li>
                    <li>{{ data.education[1].start_date.strftime('%Y') }}-{{ data.education[1].end_date.strftime('%Y') }}</li>
                </ul>
            </div>
            <div id="skill">
                <h3>Skills</h3>
                <ul>
                    {% for skill in data.skill %}
                    <li>{{ skill.category }}: {{ skill.tools }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="language">
                <h3>Languages</h3>
                <ul>
                    {% for language in data.language %}
                    <li>{{ language.category }} {{ language.test }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="advantage">
            <h3>Why Me?</h3>
            <ul>
                {% for advantage in data.advantage %}
                <li>{{ advantage.advantage }}: {{ advantage.description }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="experience">
            <h3>Work Experiences</h3>
            <div class="work-experience">
                <h4>{{ data.experience[0].company }}</h4>
                <h4>{{ data.experience[0].role }}</h4>
                <h4>{{ data.experience[0].start_date.strftime('%Y.%m') }}-{{ data.experience[0].end_date.strftime('%Y.%m') }}</h4>
                <ul>
                    {% for skill in data.work_skill %}
                        {% if skill.work_id == 2 %}
                            <li>{{ skill.category }}: {{ skill.description }}</li>
                        {% endif %}
                    {% endfor %}
                    <li>專案經驗
                        <ul>
                            {% for project in data.project %}
                                <h4>{{ project.title }}</h4>
                                <li>技術: {{ project.skill }}</li>
                                <li>{{ project.description }}</li>
                            {% endfor %}
                        </ul>
                    </li>  
                </ul>
            </div>
            <div class="work-experience">
                <h4>{{ data.experience[1].company }}</h4>
                <h4>{{ data.experience[1].role }}</h4>
                <h4>{{ data.experience[1].start_date.strftime('%Y.%m') }}-{{ data.experience[1].end_date.strftime('%Y.%m') }}</h4>
                <ul>
                    {% for skill in data.work_skill %}
                        {% if skill.work_id == 3 %}
                            <li>{{ skill.category }}: {{ skill.description }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html> 

