<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <title>個人履歷</title>
        <link rel="canonical" href="/index.html">
        <meta name="description" content="李宣葇的個人履歷">
        <meta name="author" content="李宣葇">
        <meta name="theme-color" content="#f5c101">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <script src="script.js" defer></script>
    </head>
    <body>
        <div id="ch_name"><h1>{{ user_info[0][0]}}</h1></div>
        <div id="en_name"><h1>Michelle Lee</h1></div>
        <div id="info_wrapper">
            <div id="contact">
                <h3>Contact</h3>
                <ul>
                    <li><i class="fas fa-phone"></i> <a href="tel:+886972009925">0972-009-925</a></li>
                    <li><i class="fas fa-envelope"></i> <a href="mailto:mimilee2733@gmail.com">mimilee2733@gmail.com</a></li>
                    <li><i class="fab fa-home"></i>台北市大安區</li>
                    <li><i class="fab fa-github"></i> <a href="https://github.com/Michelle020591">https://github.com/Michelle020591</a></li>

                </ul>
            </div>
            <div id="education">
                <h3>Education</h3>
                <ul>
                    <li>台灣大學 生命科學系</li>
                    <li>2021-2024</li>
                    <li>相關課程<ul><li>商管程式設計</li><li>統計學</li><li>行銷管理</li></ul></li>
                </ul>
                <ul>
                    <li>中山女高</li>
                    <li>2017-2020</li>
                </ul>
            </div>
            <div id="skill">
                <h3>Skills</h3>
                <ul>
                    <li>程式語言：Python</li>
                    <li>資料庫：SQL Server</li>
                    <li>版本控制：Git, GitHub</li>
                    <li>自動化與爬蟲：Selenium, BeautifulSoup</li>
                    <li>數位設計：Figma, Notion, Procreate</li>
                    <li>AI：ChatGPT</li>
                </ul>
            </div>
            <div id="language">
                <h3>Languages</h3>
                <ul>
                    <li>中文 母語</li>
                    <li>英文 TOEIC 935分</li>
                    <li>日文 JLPT 180分</li>
                </ul>

            </div>
        </div>
        <div id="advantage">
            <h3>Why Me?</h3>
            <ul>
                <li>跨領域背景：～</li>
                <li>語文能力：～</li>
                <li>善用工具：～</li>
                <li>時間管理：</li>
            </ul>
        </div>
        <div id="experience">
            <h3>Work Experiences</h3>
            <div class="work-experience">
                <h4>TAROBO</h4>
                <h4>數據分析實習生</h4>
                <h4>2023.01-2024.09</h4>
                <ul>
                    <li>Python：～</li>
                    <li>：～</li>
                    <li>：～</li>
                    <li>：</li>
                    <li>：</li>
                    <li>：</li>
                    <li>專案經驗
                        <ul>
                            <li>自動化與爬蟲
                                <ul>
                                    <li>技術</li>
                                    <li>開發</li>
                                </ul>
                            </li>
                            <li>金融市場數據
                                <ul>
                                    <li>技術</li>
                                    <li>API</li>
                                    <li>SQL</li>
                                </ul>
                            </li>
                        </ul>
                    </li>  
                </ul>
            </div>
            <div class="work-experience">
                <h4>美術家教</h4>
                <h4>2022.05-now</h4>
                <ul>
                    <li>美術家教</li>
                    <li>設計貼圖</li>
                    <li>UI/UX</li>
                </ul>
            </div>
        </div>
    </body>
</html> 

